html {
    font-size: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /* padding: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e8ff), to(#f5f7ff));
    background: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
    line-height: 1.3; */
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }

  .bgimage{
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .ordercard{
    box-shadow: 0 8px 16px 0 rgba(165, 182, 231, 0.71);
    background-color: #ffffff;
    border-radius: 20px;
    width: 26.1rem;
    margin: 0 auto;
  }

  .orderimg{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .orderdiv{
    padding: 10px 40px;
  }

  .title{
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-size: 23px;
    font-weight: 900;
  }

  .paragraph{
    font-size: 18px;
    color: hsl(224, 23%, 55%);
    text-align: center;
  }

  .order-flex{
    display: flex;
    justify-content: space-between;
    background-color: #e0e8ff4d;
    padding: 1px 23px;
    border-radius: 20px;
  }

  .order-flex-in{
    display: flex;
  }

  .order-icon{
    width: 45px;
    height: 45px;
    margin-top: 16px;
    margin-right: 18px;
  }

  .order-plan{
    color: hsl(223, 47%, 23%);
    font-size: 17px;
    font-weight: 900;
  }

  .order-plan span{
      display: block;
      color: hsl(224, 23%, 55%);
      font-weight: 500;
  }

  .order-change {
      color: hsl(245, 75%, 52%);
      font-weight: 900;
      margin-top: 30px;
  }

  .order-change:hover {
      color: #210ec3a1;
      text-decoration: none;
  }

  .order-proceed{
      box-shadow: 0 8px 16px 0 rgba(56, 41, 224, 0.34);
      font-size: 15px;
      background-color: hsl(245, 75%, 52%);
      color: #ffffff;
      font-weight: 900;
      display: inline-block;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      border-radius: 9px;
      width: 93%;
      margin-top: 20px;
  }

  .order-proceed:hover{
      box-shadow: 0 8px 16px 0 rgba(56, 41, 224, 0.34);
      background-color: #210ec3a1;
  }

  .order-cancel{
      font-size: 17px;
      font-weight: 900;
      text-align: center;
  }

  .order-cancel a{
      color: hsl(224, 23%, 55%);
      text-decoration: none;
      
  }

  .order-cancel a:hover{
      color: hsl(223, 47%, 23%);
  }



/*=================================================================
  @media screen 560px
==================================================================*/


@media only screen and (max-width: 560px){
    .ordercard {
        width: 100%;
    }

    .orderdiv {
        padding: 10px 14px;
    }
}



  
  #img1 {
    width: 100%;
  }
  
  .font-size {
    font-size: 700;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .flex-j-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flex-j-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-a-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cancel:active {
    color: black;
  }
  
  a:active {
    text-decoration: none;
  }
  
  .proceed {
    text-decoration: none;
  }
  
  #change:active {
    opacity: 0.5;
  }
  
  .button:active {
    opacity: 0.5;
  }
  
  @media (min-width: 64em) {
    .hide-mobile {
      display: none;
    }
  }
  
  @media (min-width: 40em) {
    .hide-desktop {
      display: none;
    }
  }
  
  .container {
    padding: 4.375rem 1.5rem;
  }
  
  @media (min-width: 40em) {
    .container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 6.5%;
      padding: 0;
      width: 24.125rem;
    }
  }
  
  .content {
    background: white;
    border-radius: 15px;
  }
  
  @media (min-width: 40em) {
    .content {
      margin: 0;
    }
  }
  
  .sub-content {
    padding-top: 1.5rem;
    padding-bottom: 2.025rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  
  #img1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .item1 {
    text-align: center;
  }
  
  .item1 .title {
    font-size: 1.45rem;
    font-weight: 900;
  }
  
  .item1 .paragraph {
    font-size: 0.96rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #7280a7;
    line-height: 1.7;
  }
  
  .item2 {
    padding: 1.125rem 1rem;
    margin-top: 1.5625rem;
    border-radius: 10px;
    background: #f5f7ff;
    text-align: left;
  }
  
  .item2 .paragraph2 {
    font-size: 0.9rem;
    padding-left: 1rem;
    display: block;
  }
  
  @media (min-width: 40em) {
    .item2 .paragraph2 {
      font-size: 0.95rem;
    }
  }
  
  .button {
    margin-top: 1.5625rem;
    padding: 1.125rem 4rem;
    background: #3829e0;
    border-radius: 10px;
    -webkit-box-shadow: 1px 25px 15px #e0e8ff;
            box-shadow: 1px 25px 15px #e0e8ff;
    font-size: 0.9rem;
    color: #f5f7ff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .item4 {
    text-decoration: none;
  }
  
  .end {
    padding-top: 1.375rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #7280a7;
    text-align: center;
    text-decoration: none;
  }
  
  .cancel {
    text-decoration: none;
  }
  
  a {
    color: #3829e0;
    font-weight: 700;
  }