html {
    font-size: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e8ff), to(#f5f7ff));
    background: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
    line-height: 1.3;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }
  
  #img1 {
    width: 100%;
  }
  
  .font-size {
    font-size: 700;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .flex-j-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flex-j-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-a-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cancel:active {
    color: black;
  }
  
  a:active {
    text-decoration: none;
  }
  
  .proceed {
    text-decoration: none;
  }
  
  #change:active {
    opacity: 0.5;
  }
  
  .button:active {
    opacity: 0.5;
  }
  
  @media (min-width: 64em) {
    .hide-mobile {
      display: none;
    }
  }
  
  @media (min-width: 40em) {
    .hide-desktop {
      display: none;
    }
  }
  
  .container {
    padding: 4.375rem 1.5rem;
  }
  
  @media (min-width: 40em) {
    .container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 6.5%;
      padding: 0;
      width: 24.125rem;
    }
  }
  
  .content {
    background: white;
    border-radius: 15px;
  }
  
  @media (min-width: 40em) {
    .content {
      margin: 0;
    }
  }
  
  .sub-content {
    padding-top: 1.5rem;
    padding-bottom: 2.025rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  
  #img1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .item1 {
    text-align: center;
  }
  
  .item1 .title {
    font-size: 1.45rem;
    font-weight: 900;
  }
  
  .item1 .paragraph {
    font-size: 0.96rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #7280a7;
    line-height: 1.7;
  }
  
  .item2 {
    padding: 1.125rem 1rem;
    margin-top: 1.5625rem;
    border-radius: 10px;
    background: #f5f7ff;
    text-align: left;
  }
  
  .item2 .paragraph2 {
    font-size: 0.9rem;
    padding-left: 1rem;
    display: block;
  }
  
  @media (min-width: 40em) {
    .item2 .paragraph2 {
      font-size: 0.95rem;
    }
  }
  
  .button {
    margin-top: 1.5625rem;
    padding: 1.125rem 4rem;
    background: #3829e0;
    border-radius: 10px;
    -webkit-box-shadow: 1px 25px 15px #e0e8ff;
            box-shadow: 1px 25px 15px #e0e8ff;
    font-size: 0.9rem;
    color: #f5f7ff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .item4 {
    text-decoration: none;
  }
  
  .end {
    padding-top: 1.375rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #7280a7;
    text-align: center;
    text-decoration: none;
  }
  
  .cancel {
    text-decoration: none;
  }
  
  a {
    color: #3829e0;
    font-weight: 700;
  }